[submodule "frontend"]
	path = frontend
	url = https://github.com/manuelmazzatelli/gameflix-frontend.git
[submodule "backend"]
	path = backend
	url = https://github.com/undead-gio/gameflix-backend.git
